* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 30px;
  text-rendering: optimizeLegibility;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

span {
  color: #999;
}

.container {
  max-width: 1000px;
  height: auto;
  display: flex;
  background-color: whitesmoke;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 20px;
  margin-bottom: 20px;
}

.left-container {
  position: relative;
  float: left;
  background-color: rgba(10, 58, 92, 1);
  width: 30%;
  height: auto;
}

.left-container h2 {
  text-decoration: underline;
}

.my-photo {
  flex: 0 0 200px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 5px solid whitesmoke;
  margin: 20px;
}

.my-photo img {
  max-width: 100%;
  display: block;
}

.personal-data {
  position: relative;
  max-width: 100%;
  padding: 10px;
}

.personal-data ul li {
  list-style: none;
  padding-left: 10px;
  margin: 0;
}

.personal-data ul li i {
  font-size: 26px;
  padding-right: 5px;
}

.personal-data ul li p:last-child {
  padding-left: 32px;
}

.skills {
  position: relative;
  max-width: 100%;
  padding: 10px;
}

.languages {
  position: relative;
  max-width: 100%;
  padding: 10px;
}

.left-headers {
  font-size: 24px;
  color: whitesmoke;
  font-weight: lighter;
  text-transform: uppercase;
  padding: 10px 0;
}
.left-paragrafs {
  font-size: 18px;
  color: whitesmoke;
  font-weight: lighter;
  line-height: 120%;
}

.left-paragrafs li {
  margin-left: 30px;
  padding-bottom: 10px;
  list-style-position: outside;
}

.right-container {
  position: relative;
  float: left;
  width: 70%;
  height: auto;
}

.right-container h3 {
  text-decoration: underline;
}

.about-me {
  display: block;
  text-align: center;
  border-bottom: 2px solid grey;
}

.about-me h2 {
  padding: 20px 15px 10px 15px;
  font-size: 36px;
  text-transform: uppercase;
}

.about-me h5 {
  padding: 0px 15px 20px 15px;
}

.about-me p {
  font-size: 18px;
  padding: 0px 15px 20px 15px;
  text-align: left;
  font-style: italic;
}

.right-headers {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 15px 10px 15px;
}

.right-paragrafs {
  font-size: 18px;
  padding-bottom: 10px;
}

.courses {
  display: block;
  text-align: left;
  border-bottom: 2px solid grey;
}

.courses li {
  list-style: none;
  text-transform: none;
  font-weight: normal;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 15px;
  padding-top: 15px;
}

.date-courses,
.date-education,
.data-experience {
  font-weight: bold;
}

.name-courses a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.name-courses a:hover {
  text-decoration: underline;
}

.place-courses,
.name-experience,
.place-education {
  color: rgb(10, 58, 92);
}

.education-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 15px;
  text-transform: none;
  font-weight: normal;
  padding-top: 15px;
}

.experience {
  border-bottom: 2px solid grey;
}

.experience li {
  text-transform: none;
  font-weight: normal;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 15px;
  padding-top: 15px;
}

@media only screen and (max-width: 1000px) {
  .container {
    max-width: 800px;
  }

  .left-container {
    width: 36%;
  }

  .left-paragrafs li {
    font-size: 17px;
  }

  .right-container {
    width: 64%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: auto;
    display: block;
    margin: 0;
  }

  .left-container {
    width: 100%;
    height: auto;
    float: none;
  }

  .wrapper-image-data {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-around;
  }

  .my-photo {
    flex: 0 0 45%;
    width: 50%;
    margin: auto 15px;
  }

  .my-photo img {
    width: 100%;
    height: auto;
  }

  .personal-data {
    width: 50%;
  }

  .wrapper-skills-languages {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    border-top: 2px solid grey;
  }

  .left-paragrafs li {
    margin-left: 20px;
  }

  .skills {
    width: 50%;
    padding-left: 17%;
  }

  .languages {
    width: 50%;
    padding-left: 15px;
  }

  .right-container {
    width: 100%;
    float: none;
  }
}

@media only screen and (max-width: 570px) {
  .left-paragrafs li {
    font-size: 3vw;
  }
}

@media only screen and (max-width: 500px) {
  .wrapper-image-data {
    display: inline-block;
    width: 100%;
  }

  .my-photo {
    position: relative;
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    border: 3px solid whitesmoke;
  }

  .personal-data {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }

  .personal-data ul li {
    padding-left: 0;
    line-height: 150%;
  }

  .personal-data ul li i {
    font-size: 18px;
    padding-right: 0;
  }

  .personal-data ul li p:last-child {
    padding-left: 0;
  }

  .left-headers,
  .right-headers {
    font-size: 20px;
  }

  .left-paragrafs li {
    font-size: 17px;
    margin-left: 0;
  }

  .wrapper-skills-languages {
    display: block;
  }
  .skills {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }

  .skills ul li {
    line-height: 150%;
    /* list-style-position: inside; */
    list-style: none;
  }

  .languages {
    width: 100%;
    border-top: 2px solid grey;
    text-align: center;
  }

  .languages ul li {
    line-height: 150%;
    /* list-style-position: inside; */
    list-style: none;
  }

  .about-me h2 {
    font-size: 26px;
  }

  .about-me h5 {
    font-size: 20px;
  }

  .about-me p {
    font-size: 16px;
  }

  .courses li {
    display: block;
    width: 100%;
  }

  .experience li {
    display: block;
    width: 100%;
  }

  .education-wrapper {
    display: block;
    width: 100%;
  }
}
